@import "tailwindcss";

@theme {
  --color-Moderate-blue: hsl(238, 40%, 52%);
  --color-Soft-Red: hsl(358, 79%, 66%);
  --color-Light-grayish-blue: hsl(239, 57%, 85%);
  --color-Pale-red: hsl(357, 100%, 86%);
  --color-Dark-blue: hsl(212, 24%, 26%);
  --color-Grayish-Blue: hsl(211, 10%, 45%);
  --color-White: hsl(0, 0%, 100%);
  --color-Light-gray: hsl(223, 19%, 93%);
  --color-Very-light-gray: hsl(228, 33%, 97%);


  --font-rubik: "Rubik", sans-serif;

  --font-weight-fw-400: 400;
  --font-weight-fw-500: 500;
  --font-weight-fw-700: 700;
}


@layer base {
  body {
    font-family: "Rubik", sans-serif;
  }
}

